/*------------------------------------------------------------------------------------------------------------------------
 @package: NAT (app)

 @author: Zach Schneider
 @www: http://zachschneider.com
 @github: zkm

 @twitter: zkm

 @copyright: COPYRIGHT 6-3-2014
 =============================================================================
 Filename: _content.scss
 =============================================================================
 This file is responsible for styles the carousel on the NAT app.
 --------------------------------------------------------------------------------------------------------------------- */

#main_carousel {
  position: relative;

  #caption {
    @extend %white-box;
    width: 96.2%;
    bottom: 0;
    z-index: 200;
    h2 {
      margin: 0;
      text-transform: uppercase;
      font-size: 2.4em;
      color: $natTextColor;
      font-weight: bold;
    }
    p {
      font-size: 1.4em;
      font-weight: normal;
      color: $natTextColor;
    }
  }

  #pager {
    margin-top: 10px; 
    a {
      margin-left: .01em;
      border: 3px solid transparent;
      display: block;
      float: left;
      position: relative;

      img {
        display: block;
        margin: 0;
        padding: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {    }
      &:hover {
        border: 3px solid #0084d9;
        
        &:after {
          content: "";
          display: block;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #0084d9;
          position: absolute;
          top: -8px;
          left: 50%;
        }
      }
    }
  }
}