/*------------------------------------------------------------------------------------------------------------------------
 @package: NAT (app)

 @author: Zach Schneider
 @www: http://zachschneider.com
 @github: zkm

 @twitter: zkm

 @copyright: COPYRIGHT 6-3-2014
 =============================================================================
 Filename: _content.scss
 =============================================================================
 This file is responsible for content styles on the NAT app.
 --------------------------------------------------------------------------------------------------------------------- */

.content {
  clear: both;
  background-color: $natWhite;
  position: relative;
  top: -4px;
  padding: 20px;

  .lcol {
    width: 666px;
    float: left;
  
    h2 {
      text-indent: 20px;
      @extend %blueRibbon;
    }
  }
  .rcol {
    float: right;
    width: 275px;
  }
  a {
    color: $natTextColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
div[class*='box-'] {
  float: left;
}
.box-185 {
  width: 185px;
}

.box-20 {
  width: 20px;
}

.box-460 {
  width: 460px;

  article {
    clear: both;
    margin-bottom: 20px;

    img {
      max-width: 140px;
      margin-right: 15px;
      float: left;
    }
  }
}
.box-255 {
  width: 255px;
  margin-bottom: 20px;

  h2 {
    margin-top: 0;
    margin-bottom: 7px;
  }
}

.box-full {
  width: 100%;
}


