/*------------------------------------------------------------------------------------------------------------------------
 @package: NAT (app)

 @author: Zach Schneider
 @www: http://zachschneider.com
 @github: zkm

 @twitter: zkm

 @copyright: COPYRIGHT 6-3-2014
 =============================================================================
 Filename: _content.scss
 =============================================================================
 This file is responsible for content styles on the NAT app.
 --------------------------------------------------------------------------------------------------------------------- */

.content {
  clear: both;
  background-color: $natWhite;
  position: relative;
  top: -4px;
  padding: 20px;
  overflow: hidden;

  .lcol {
    width: 666px;
    float: left;
  }
  .rcol {
    float: right;
    width: 275px;
  }
  a {
    color: $natTextColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
div[class*='box-'] {
  float: left;
}
.box-195 {
  width: 195px;
}
.box-470 {
  width: 470px;

  article {
    clear: both;
    margin-bottom: 20px;

    img {
      max-width: 140px;
      margin-right: 15px;
      float: left;
    }
  }
}
.box-full {
  width: 100%;
}
