/*------------------------------------------------------------------------------------------------------------------------
 @package: NAT (app)

 @author: Zach Schneider
 @www: http://zachschneider.com
 @github: zkm

 @twitter: zkm

 @copyright: COPYRIGHT 6-20-2014
 =============================================================================
 Filename: _contests.scss
 =============================================================================
 This file is responsible for the right column Contest styles on the NAT app.
 --------------------------------------------------------------------------------------------------------------------- */

#contests {
  h2 {
    text-indent: 20px;
  }
  section {
    clear: both;
  }
  aside {
    float: left;
    img {
      padding-right: 15px;
    }
  }
  article {
    p {
      font-size: 1.2em;
    }
  }
}