/*------------------------------------------------------------------------------------------------------------------------
 @package: NAT (app)

 @author: Zach Schneider
 @www: http://zachschneider.com
 @github: zkm

 @twitter: zkm

 @copyright: COPYRIGHT 6-3-2014
 =============================================================================
 Filename: main.scss
 =============================================================================
 This file is responsible for all styles on the NAT app.
 --------------------------------------------------------------------------------------------------------------------- */

// bower:scss
// endbower

/* =============================================================================
Imports
========================================================================== */
@import "compass/reset";
@import "compass/css3";
@import "partials/_mixins.scss";
@import "partials/_variables.scss";
@import "partials/_type.scss";
@import "partials/_helpers.scss";
@import "partials/_base.scss";
@import "partials/_structure.scss";

/* =============================================================================
 Styles
========================================================================== */
@import "_carousel.scss";
@import "_header.scss";
@import "_categories.scss";
@import "_content.scss";
@import "_videos.scss";
@import "_newsletterForm.scss";
@import "_contests.scss";
@import "_footer.scss";

/* =============================================================================
 IE Fixes
========================================================================== */
@import "_ie.scss";
