/*------------------------------------------------------------------------------------------------------------------------
 @package: NAT (app)

 @author: Zach Schneider
 @www: https://zachschneider.com
 @github: ZKM

 @twitter: ZKM

 @copyright: COPYRIGHT 06-03-2014
 =============================================================================
 Filename: main.scss
 =============================================================================
 This file is responsible for all styles on the NAT app.
 --------------------------------------------------------------------------------------------------------------------- */

// bower:scss
// endbower

/* =============================================================================
Imports
========================================================================== */
@import "compass/reset";
@import "compass/css3";
@import "partials/mixins";
@import "partials/variables";
@import "partials/type";
@import "partials/helpers";
@import "partials/base";
@import "partials/structure";

/* =============================================================================
 Styles
========================================================================== */
@import "carousel";
@import "header";
@import "categories";
@import "content";
@import "videos";
@import "newsletterForm";
@import "contests";
@import "footer";

/* =============================================================================
 IE Fixes
========================================================================== */
@import "ie";
