/*------------------------------------------------------------------------------------------------------------------------
 @package: nat (app)

 @author: Zach Schneider
 @www: http://zachschneider.com
 @github: zkm

 @twitter: zkm

 @copyright: COPYRIGHT 6-3-2014
 =============================================================================
 Filename: _mixins.scss
 =============================================================================
 This file is responsible for all mixins in the nat app.
 --------------------------------------------------------------------------------------------------------------------- */
